---
import web3Desktop from "../../assets/image-web-3-desktop.jpg";
import web3Mobile from "../../assets/image-web-3-mobile.jpg";
import HeadlineNews from "./HeadlineNews.astro";
---

<div
  class="flex w-full flex-col ~gap-4/7 ~pt-8/14 lg:grid lg:grid-cols-3 lg:grid-rows-3"
>
  <picture class="lg:col-span-2 lg:col-start-1 lg:row-span-2 lg:row-start-1">
    <source srcset={web3Desktop.src} media="(min-width: 1024px)" />
    <img src={web3Mobile.src} alt="" class="h-full w-full object-cover" />
    <!-- Just a decorative image, so alt is empty. -->
  </picture>

  <h1
    class="flex items-center text-balance font-extrabold leading-none ~text-4.5xl/5.5xl lg:col-start-1 lg:row-start-3"
  >
    The Bright Future of Web 3.0?
  </h1>

  <div
    class="flex h-full flex-col items-start justify-between ~gap-6/7 lg:col-start-2 lg:row-start-3"
  >
    <p class="text-paragraph text-dark-gray-blue">
      We dive into the next evolution of the web that claims to put the power of
      the platforms back into the hands of the people. But is it really
      fulfilling its promise?
    </p>

    <button
      class="h-12 bg-soft-red px-8 text-sm font-bold uppercase tracking-[0.25rem] duration-200 hover:bg-dark-blue hover:text-off-white motion-reduce:duration-0"
    >
      Read More
    </button>
  </div>

  <HeadlineNews />
</div>
